@import url('https://fonts.googleapis.com/css?family=Satisfy');

body {
  background-image: url("/Users/yaredmyers/Documents/IronHack/lab/proyect1-videogame-Street-Hack/starter-code/images/backgroundhtml/alterbackground.png");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  background-color: lightpink;
  border-radius: 11px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  font-family: "Satisfy";
  font-size: 16px;
  transition: all 500ms ease;
}

button:hover {
  background: rgba(0,0,0,0);
  color: black;
  box-shadow: inset 0 0 0 3px #3a7999;
}

ul {
  font-family: "Satisfy";
  font-size: 24px;
  list-style: none;
}

li b {
  color: lightpink;
  border: 0.5px solid black;
}

#myCanvas {
  border: 1px solid black;
  background-image: url(/Users/yaredmyers/Documents/IronHack/lab/proyect1-videogame-Street-Hack/starter-code/images/backgroundhtml/title.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
}

#game-board {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  top: 120px;
}

.list {
  display: flex;
  position: relative;
  bottom: 80px;
  text-align: center;
  justify-content: center;
  top: 140px;
}

.gameNote {
  display: flex;
  justify-content: flex-end;
  font-family: "Satisfy";
  font-size: 18px;
  margin: 0 auto;
  max-width: 250px;
  text-align: center;
  position: relative;
  right: -535px;
  bottom: 300px;
}

.gameNote b {
  color: white;
}

.post {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 aut0;
  margin: 0 auto;
  position: absolute;
  right: 20px;
  bottom: 200px;
}

.post img {
  width: 330px;
  height: 350px;
}